<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Criar Conta</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card class="ion-no-margin">
      <ion-card-content>
        <form [formGroup]="registerFormGroup">
          <ion-item>
            <ion-label position="stacked" color="primary">DADOS BÁSICOS</ion-label>
            <ion-input placeholder="Nome" formControlName="name" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Sobrenome" type="text" formControlName="lastName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Número do Whatsapp" type="text" formControlName="phoneNumber"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Senha" type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Confirme a senha" type="password" formControlName="confirmedPassword"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top">
            <ion-label position="stacked" color="primary">ENDEREÇO</ion-label>
            <ion-input placeholder="Rua" type="text" formControlName="street"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Número" type="number" formControlName="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Complemento" type="text" formControlName="complement"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Estado" type="text" formControlName="state"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="CEP" type="string" formControlName="cep" mask="00000-000"></ion-input>
          </ion-item>

          <ion-button [disabled]="registerFormGroup.invalid" class="ion-margin" ion-padding expand="block" type="submit" (click)="createAccount()">Criar conta</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
