<ion-header>
  <ion-toolbar>
    <ion-title>Buscar</ion-title>
    <ion-buttons slot="start">
       <ion-icon name="close" (click)="closeSearchModal()" class="header_close"></ion-icon>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="searchFormGroup">
        <ion-searchbar searchIcon="false" placeholder="Busca por nome" formControlName="searchTerm"></ion-searchbar>
        <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input formControlName="state" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Cidade</ion-label>
            <ion-input formControlName="city" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select formControlName="category" cancel-text="Cancelar" ok-text="Selecionar">                
                  <ion-select-option *ngFor="let c of (categories | async)" [value]="c.category">{{c.category}}</ion-select-option>
            </ion-select>
        </ion-item>
    </form>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="triggerSearch()" expand="block">Buscar</ion-button>
  </ion-toolbar>
</ion-footer>
