<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meus Anúncios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item-group *ngFor="let object of (objects | async)">
        <ion-item *ngIf="showObject(object.userId)" button [routerLink]="['/objectDetails', object.id]">
          <ion-avatar slot="start" *ngIf="object.imageSrc">
            <img [src]="object.imageSrc">
          </ion-avatar>
          <ion-label>
            <p>{{ object.name }}</p>
            <p>{{ object.createdAt | date: 'dd/MM/yyyy' }}</p>
            <p>{{ object.active ? "Anúncio ativo":"Anúncio inativo" }}</p>
          </ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-button routerLink="/objectDonate" expand="block">
        + Adicionar
      </ion-button>
    </ion-toolbar>
  </ion-footer>