<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Cadastro de Objeto</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card class="ion-no-margin">
      <ion-card-content>
        <ion-card>
          <ion-img class="myImage" (click)="selectImageSource()" [src]="imageSrc"></ion-img>
          <ion-card-header>
            <ion-card-title>Imagem</ion-card-title>
          </ion-card-header>
        </ion-card>
        <form [formGroup]="objectDonateFormGroup">
          <ion-item>
            <ion-label position="stacked">Dados Básicos</ion-label>
            <ion-input placeholder="Nome" formControlName="name" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Descrição" type="text" formControlName="description"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-label position="stacked">Localização</ion-label>
            <ion-input placeholder="Cidade" type="text" formControlName="city"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Estado" type="text" formControlName="state"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="CEP" type="string" formControlName="cep" ui-br-cep-mask></ion-input>
          </ion-item>

          <ion-button [disabled]="objectDonateFormGroup.invalid" class="ion-margin" ion-padding expand="block" type="submit" (click)="saveObject()">Cadastrar Objeto!</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
