.myImage {
    height: 200px;
    width: auto;
}
.objectDonateImage {
    background-image: url("/assets/img/CLIQUE.PNG");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.dropLabel{
    opacity: .5;
}