<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/img/LOGO.svg" alt="your image is BROKEN">
  </div>
  
  
  <ion-text >
      <div class="text">
      <p>Oi!</p>
    </div>
    </ion-text>
  
    <ion-text >
        <div class="text2">
        <p>Bem vindo ao BotaFora!</p>
      </div>
            </ion-text>

      <form [formGroup]="loginFormGroup">
          <ion-list>
              <ion-item>  
                <ion-label color="primary">   Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">   Senha</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <ion-button (click)="login()" [disabled]="loginFormGroup.invalid" class="ion-margin-top" expand="block" color="primary">Entrar</ion-button>
        
        <ion-text >
            <div class="text3">
            <p></p>
            <p>Ainda não é membro?</p>
          </div>
          </ion-text>
        
        
        <ion-button routerLink="/signup" fill="outline" expand="block" routerDirection="forward">Participar</ion-button>
      </ion-list>
      </form>
    
</ion-content>
