.login-logo {
padding: 15px 0;
min-height: 100px;
text-align: center;
}

.login-logo img{
    max-width: 180px;
}

.text {
    padding: 0px 0;
    text-align: center;
    font-weight: bold;    
    color: #3CB371;
    height: 5px;  
}

.text2 {
    text-align: center;
    height: 30px;  
    color: "dark"; 
}

.text3 {
    text-align: center;
    height: 20px;  
    color: "dark"; 
}

