<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalhes do objeto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-label>
    <h1>{{ (object | async)?.name }}</h1>
  </ion-label>
  <ion-card>
    <img [src]="(object | async)?.imageSrc" />
    <ion-card-header>
      <ion-label>
        <p>Publicado em {{ (object | async)?.createdAt | date: 'dd/MM/yyyy' }} às
          {{ (object | async)?.createdAt | date: 'HH:mm' }}</p>
      </ion-label>
    </ion-card-header>
  </ion-card>
  <ion-list>
    <ion-list-header>
      Descrição
    </ion-list-header>
    <ion-item>
      <ion-text>{{ (object | async)?.description }}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Categoria
    </ion-list-header>
    <ion-item>
      <ion-label>{{ (object | async)?.category }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Localização
    </ion-list-header>
    <ion-item>
      <ion-label>{{(object | async)?.city}} / {{ (object | async)?.state }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="showInterestList((object | async)?.userId)">
    <ion-list-header>
      Interessados
    </ion-list-header>
    <ion-item *ngFor="let interest of object.interestList">
      <ion-label>{{ interest.userId }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" *ngIf="showEditButton((object | async)?.userId)" [routerLink]="['/objectDonate', this.activatedRoute.snapshot.params['id']]">
      Editar anúncio
    </ion-button>
    <ion-button expand="block" *ngIf="showInterestButton((object | async)?.userId)" (click)="addInterest()">
      Tenho interesse!
    </ion-button>
  </ion-toolbar>
</ion-footer>